#!/bin/ksh

JAVA="java"

VMARGS="-Djava.util.logging.config.file=logging.properties"
VMARGS="$VMARGS -Dmongodb=mongodb://fileTransfer:password@mdb.hefame.es/fileTransfer"
VMARGS="$VMARGS -Ddebug=true"
VMARGS="$VMARGS -Dlog=/tmp/filetransfer.log"

VERSION="2.2.3-alpha"
JAR="/usr/local/filetransfer/target/filetransfer-${VERSION}-jar-with-dependencies.jar"

$JAVA $VMARGS -jar $JAR $*
